.sfdx
.vscode
force-app/main/default/settings/*
force-app/main/default/applications/standard__LightningSales.app-meta.xml
.DS_STORE
.idea/workspace.xml
.idea/shelf
out
IlluminatedCloud
/force-app/main/default/layouts/Global-Global Layout.layout-meta.xml
