.sfdx
.vscode
force-app/main/default/settings/*
force-app/main/default/applications/standard__LightningSales.app-meta.xml
.DS_STORE
.idea/workspace.xml
.idea/shelf
IlluminatedCloud
force-app/main/default/objectTranslations/*
.idea/illuminatedCloud.xml
.idea/misc.xml
